<!doctype html>
<html>
	<head>
		<title>MeetingBot</title>
	</head>
	<style>
		html, body {
			height: 100%;
		}
		body {
			margin: 0;
			padding: 0;
		}
		button {
			background: #fff;
			border-radius: 10px;
			border: solid 1px #ccc;
			bottom: 0.5em;
			box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
			font-size: 5em;
			left: 0.5em;
			padding: 1em;
			position: absolute;
			right: 0.5em;
			top: 0.5em;
		}
		.active {
			background-color: #ae0001;
			color: #fff;
		}
		.inactive {
			background-color: #2eae00;
			color: #fff;
		}
	</style>
	<body>
		<button id="toggle-meeting" class="{% if inAMeeting -%} active {%- else -%} inactive {%- endif %}">
			{% if inAMeeting -%} In {%- else -%} Not in {%- endif %}
			a meeting.
		</button>
		<script>
			var inAMeeting = {{ inAMeeting }};
			var button = document.getElementById('toggle-meeting');
			button.addEventListener('click', function(){
				var url = (!inAMeeting) ? 'meeting/start' : 'meeting/stop';
				var response = httpGet(url);
				try {
					response = JSON.parse(response);
				}
				catch (e) {
					return;
				}
				inAMeeting = response.inAMeeting;
				button.className = (inAMeeting) ? 'active' : 'inactive';
				button.innerHTML = (inAMeeting) ? 'In a meeting.' : 'Not in a meeting.';
			}, false);

			function httpGet(url) {
				var xmlHttp = null;
				xmlHttp = new XMLHttpRequest();
				xmlHttp.open("GET", url, false);
				xmlHttp.send(null);
				return xmlHttp.responseText;
			}
		</script>
	</body>
</html>
